@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$hero-gradient: radial-gradient(circle farthest-corner at 50% 50%,#30b4a5,#249dc4);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}