.home {
  background-image: url("../img/gray-dots.svg");
  & .hero {
    background-image: $hero-gradient;
    color: $white;
    padding: 100px 0;
    font-size: 20px;
    text-align: center;
    & .hero-title {
      font-size: 50px;
    }
    & .arrow {
      margin-top: 20px;
      animation-name: bounce;
      animation-timing-function: ease;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
  & .main {
    color: $grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    width: 80%;
    margin: auto;
    margin: 50px auto;
    & div {
      text-align: center;
      border-radius: 30px;
      background-color: #fff;
      background-image: $thought-gradient1;
      background-image: $thought-gradient2;
      padding: 100px 50px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
