@media screen and (max-width: 1241px) {
  .home {
    & .main {
      & div {
        padding: 100px 20px;
      }
    }
  }
}
@media screen and (max-width: 1041px) {
  .home {
    & .main {
      width: 90%;
      & div {
        padding: 80px 50px;
      }
    }
  }
}
@media screen and (max-width: 951px) {
  .home {
    & .main {
      grid-template-columns: repeat(2, 1fr);
      & div {
        padding: 100px 50px;
      }
    }
  }
}

@media screen and (max-width: 951px) {
  .home {
    & .main {
      grid-gap: 3rem;
    }
  }
}
@media screen and (max-width: 601px) {
  .home {
    & .main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 481px) {
  .home {
    & .hero {
      padding: 100px 40px;
    }
  }
}
