@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/gray-dots.svg");
}

.home .hero {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #30b4a5, #249dc4);
  color: #fcfeff;
  padding: 100px 0;
  font-size: 20px;
  text-align: center;
}
.home .hero .hero-title {
  font-size: 50px;
}
.home .hero .arrow {
  margin-top: 20px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.home .main {
  color: #5b6466;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  width: 80%;
  margin: 50px auto;
}
.home .main div {
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  background-image: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0.9), hsla(0deg, 0%, 100%, 0.9)), linear-gradient(90deg, #249dc4, #30b4a5);
  padding: 100px 50px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}